.playfair-display-header {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
    background-color: #FFF4EA;
    height: 1000px;
    align-items: center;
}

a {
    text-decoration: none;
}

img {
    width: 35px;
    margin-right: 5px;
}

div.name {
    font-size: 50px;
    grid-column: span 3;
}

div.email {
    justify-self: end;
}

div.linkedin, div.github  {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.github {
    place-self: start;
}

div.header {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 12px;
}

div.work {
    display: flex;
    background-color: white;
    border-radius: 3%;
    width: 700px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}

.profilepic {
    width: 200px;
    border-radius: 50%;
}

.summary {
    width: 400px;
    padding: 20px;
}

.aws {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

a.aws{
    grid-row: 1 / span 2;
}

img.aws {
    width: 180px;
    align-items: center;
}

.aws-achieved {
    align-self: end;
}

.aws-expires {
    align-self: start;
    margin-top: 5px;
}

.click {
    grid-row: 1 / span 2;
    width: 80px;
    margin-right: 15px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}